<div class="navigation" id="{{id}}">
	{{#navigation}}
		<span class="current-page-description">{{start}} to {{count}} of {{total}}</span>
	{{#if isFirstPage}}
		<button class="left-arrow js-navigation-left" disabled></button>
	{{else}}
		<button class="left-arrow js-navigation-left"></button>
	{{/if}}
	{{#if isLastPage}}
		<button class="right-arrow js-navigation-right" disabled></button>
	{{else}}
		<button class="right-arrow js-navigation-right"></button>
	{{/if}}
	{{/navigation}}
</div>